.image-user {
  width: 200px;
  object-fit: cover;
}

.box {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 24rem;
}

.card {
  border: none;
  background-color: gray;
  text-align: justify;
}

.back {
  margin-left: auto;
  margin-right: auto;
  width: 34rem;
  background-color: white;
  height: 100%;
}

.all {
  height: 100vh;
  background-color: grey;
}

.image-second {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border: solid red 2px;
}

.follow-amount {
  color: black;
  font-weight: bold;
}

.button-back {
  margin-left: auto;
  margin-right: auto;
  width: 12rem;
}

.back-second {
  margin-left: auto;
  margin-right: auto;
  width: 34rem;
  background-color: white;
  height: 100%;
  text-align: center;
}

.all-second {
  height: 100vh;
  background-color: grey;
}
